.margem{margin-top: 5px;}
.borda-lateral{}
hr.style-two {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
.img-km{
  width: 450px;
  height: 450px;
}
.space{
  padding-left: 0;
  padding-right: 0;
  padding-top: 5px;
  padding-bottom: 5px;
}
.painel{
  width:350px;
  margin-top: 120px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  background-color: #ccc;
  border-radius: 10px;
}
