<div class="jumbotron">
  <div class="row">
    <div class="col-md-6">
      <img src="img/logo3.png" alt="logo" class="img-responsive center-block" />
    </div>
    <form class="" name="formulario">
    <div class="col-md-6">
      <div class="">
        <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="pesquisaGeral()">Pesquisa Geral</button>
        <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="pesquisaByVehicle()">Pesquisa por veículo</button>
      </div>
    </div>
  </form>
  </div>
</div>
